{% extends "layout.html" %}

{% block body %}

<div class="container">
  <h1>MANAGER</h1> <br>
  <h3>Tasks overview</h3>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Flat</th>
        <th>Device</th>
        <th>Brand & Model</th>
        <th>Error</th>
        <th>Status</th>
        <th>Measure</th>
        <th>Time ticket created</th>
        <th>Employee / Company</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for task in all_tasks %}
        {% if task[10] == True and task[3] == 101 %}
          <tr class="table-danger">
            <td>{{ task.flat_number }}</td>
            <td>{{ task.device }}</td>
            <td>{{ task.device_model }}</td>
            <td>{{ task.error_code }}</td>
            <td>{{ task.repair_status }}</td>
            <td>{{ task.repair_measure }}</td>
            <td>{{ task.time_ticket_created }}</td>
            <td>{{ task.employee }}</td>
            <td><form action="/marktaskremoved/{{ task[0] }}/{{ 4 }}" method="POST">
                  <input type="submit" value="Remove">
                </form></td>
          </tr>
        {% endif %}
      {% endfor %}
      {% for task in all_tasks %}
        {% if task[10] == True and (task[3] == 102 or task[3] == 103) %}
          <tr class="table-warning">
            <td>{{ task.flat_number }}</td>
            <td>{{ task.device }}</td>
            <td>{{ task.device_model }}</td>
            <td>{{ task.error_code }}</td>
            <td>{{ task.repair_status }}</td>
            <td>{{ task.repair_measure }}</td>
            <td>{{ task.time_ticket_created }}</td>
            <td>{{ task.employee }}</td>
            <td><form action="/marktaskremoved/{{ task[0] }}/{{ 4 }}" method="POST">
                  <input type="submit" value="Remove">
                </form></td>
          </tr>
        {% endif %}
      {% endfor %}
      {% for task in all_tasks %}
        {% if task[10] == True and (task[3] == 104 or task[3] == 105) %}
          <tr class="table-secondary">
            <td>{{ task.flat_number }}</td>
            <td>{{ task.device }}</td>
            <td>{{ task.device_model }}</td>
            <td>{{ task.error_code }}</td>
            <td>{{ task.repair_status }}</td>
            <td>{{ task.repair_measure }}</td>
            <td>{{ task.time_ticket_created }}</td>
            <td>{{ task.employee }}</td>
            <td><form action="/marktaskremoved/{{ task[0] }}/{{ 4 }}" method="POST">
                  <input type="submit" value="Remove">
                </form></td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <!-- [urgent, maintenance, check, not_started, started, fix, replace, completed] -->
  <br><h3>Tasks per device</h3>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Device</th>
        <th>Urgent</th>
        <th>Maintenance</th>
        <th>Check up</th>
        <th>Not started</th>
        <th>Started</th>
        <th>Fix in flat</th>
        <th>Replace</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in tasks_per_device.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value[0] }}</td>
          <td>{{ value[1] }}</td>
          <td>{{ value[2] }}</td>
          <td>{{ value[3] }}</td>
          <td>{{ value[4] }}</td>
          <td>{{ value[5] }}</td>
          <td>{{ value[6] }}</td>
          <td>{{ value[7] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <br><h3>Tasks per employee</h3>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Employee</th>
        <th>Maintenance</th>
        <th>Check</th>
        <th>Total to-do</th>
        <th>Not started</th>
        <th>Started</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in tasks_per_employee.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value[0] }}</td>
          <td>{{ value[1] }}</td>
          <td>{{ value[2] }}</td>
          <td>{{ value[3] }}</td>
          <td>{{ value[4] }}</td>
          <td>{{ value[5] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
