{% extends "layout.html" %}

{% block body %}

<div class="container">
  <h1>MANAGER</h1>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Flat #</th>
        <th>Device</th>
        <th>Error</th>
        <th>Status</th>
        <th>Measure</th>
        <th>Time created</th>
        <th>Employee</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for task in all_tasks %}
        <tr class="table-danger">
          <td>{{ task.flat_number }}</td>
          <td>{{ task.device }}</td>
          <td>{{ task.error_code }}</td>
          <td>{{ task.repair_status }}</td>
          <td>{{ task.repair_measure }}</td>
          <td>{{ task.time_ticket_created }}</td>
          <td>{{ task.employee }}</td>
          <td><form action="/marktaskremoved/{{ task[0] }}/{{ 4 }}" method="POST">
                <input type="submit" value="Remove">
              </form></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
