{% extends "layout.html" %}

{% block body %}

<div class="container">
  <h1>MATTI</h1>
  <hr>
  <!--{% for item in mattis_tasks %}
    {{ item }} <br>
  {% endfor %}-->
  <div class="row">
    <div class="col-4">
      <h2>TO DO</h2>
        {% for task in mattis_tasks %}
          {% if task[4] == 'NA' %}
            <div class="card text-left">
              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="repairrecommendations">Recommendations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/flat/{{ task[1] }}">Flat</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Flat {{ task[1] }}</h5>
                <p class="card-text">Device: {{ task[2] }}</p>
                <p class="card-text">Error code: {{ task[3] }}</p>
                <p class="card-text">Repair status: {{ task[4] }}</p>
                  <form action="/marktaskstarted/{{ task[0] }}/{{ 1 }}" method="POST">
                    <input type="submit" value="Start">
                  </form>
                {% if task[5] == 'NA' %}
                  <p class="card-text">Repair measure: {{ task[5] }}</p>
                  <form action="/markvisit/{{ task[0] }}/{{ task[1] }}/{{ 1 }}" method="POST">
                    <input type="submit" value="Visit">
                  </form>
                {% endif %}
                {% if task[5] == 'Visit' and task[12] == None %}
                  <p>Suggested visiting times to resident: <br>
                    {% for time in three_dates_list[1:] %}
                      <li>{{ time }}</li>
                    {% endfor %}</p>
                {% endif %}
                {% if task[5] == 'Visit' and task[12] != None %}
                  <p>Agree visiting time: {{ task[12] }}</p>
                {% endif %}
                <p class="card-text"><small class="text-muted">Ticket created: {{ task[7] }}</small></p>
              </div>
            </div>
            <br />
          {% endif %}
        {% endfor %}
    </div>
    <div class="col-4">
      <h2>STARTED</h2>
        {% for task in mattis_tasks %}
          {% if task[4] == 'Repair started' %}
            <div class="card text-left">
              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="repairrecommendations">Recommendations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/flat/{{ task[1] }}">Flat</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Flat {{ task[1] }}</h5>
                <p class="card-text">Device: {{ task[2] }}</p>
                <p class="card-text">Error code: {{ task[3] }}</p>
                <p class="card-text">Repair status: {{ task[4] }}</p>
                  <form action="/marktaskcompleted/{{ task[0] }}/{{ 1 }}" method="POST">
                    <input type="submit" value="Complete">
                  </form>
                <p class="card-text">Repair measure: {{ task[5] }} at {{ task[12] }}</p>
                  <form action="/markmeasure/{{ task[0] }}/{{ 1 }}" method="POST">
                    <input type="radio" name="measure" value="1"> Fix in flat <br>
                    <input type="radio" name="measure" value="2"> Replace     <br>
                    <input type="submit" value="Save measure">
                  </form>
                <p class="card-text"><small class="text-muted">Ticket created: {{ task[7] }}</small></p>
              </div>
            </div>
            <br />
          {% endif %}
        {% endfor %}
    </div>
    <div class="col-4">
      <h2>COMPLETED</h2>
        {% for task in mattis_tasks %}
          {% if task[4] == 'Repair completed' %}
            <div class="card text-left">
              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="repairrecommendations">Recommendations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/flat/{{ task[1] }}">Flat</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Flat {{ task[1] }}</h5>
                <p class="card-text">Device: {{ task[2] }}</p>
                <p class="card-text">Error code: {{ task[3] }}</p>
                <p class="card-text">Repair status: {{ task[4] }}</p>
                <p class="card-text">Repair measure: {{ task[5] }}</p>
                <form action="/marktaskremoved/{{ task[0] }}/{{ 1 }}" method="POST">
                  <input type="submit" value="Remove">
                </form>
                <p class="card-text"><small class="text-muted">Ticket created: {{ task[7] }}</small></p>
              </div>
            </div>
            <br />
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
