{% extends "layout.html" %}

{% block body %}

<h1>Fast Sim</h1>
<form action="/semi-automatic">
    <input type="submit" value="CREATE CASE">
</form> <br>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Flat</th>
        <th>Device</th>
        <th>Brand & Model</th>
        <th>Error</th>
        <th>Status</th>
        <th>Measure</th>
        <th>Employee / Company</th>
        <th>Time ticket created</th>
      </tr>
    </thead>
    <tbody>
      {% for task in automated_tasks %}
        {% if task[11] == True %}
          <tr class={{task[12]}}>
            <td>{{ task[1] }}</td>
            <td width="160">{{ task[2] }}</td>
            <td width="220">{{ task[3] }}</td>
            <td>{% if task[4] == 101 %}
                  <span class="badge badge-danger">{{ task[4] }}</span>
                {% elif task[4] == 102 or task[4] == 103 %}
                  <span class="badge badge-warning">{{ task[4] }}</span>
                {% elif task[4] == 104 or task[4] == 105 %}
                  <span class="badge badge-secondary">{{ task[4] }}</span>
                {% endif %}

            </td>
            <td>{{ task[5] }}</td>
            <td>{{ task[6] }}</td>
            <td width="250">{{ task[7] }}</td>
            <td>{{ task[8] }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
</table>

{% endblock %}
