{% extends "layout.html" %}

{% block body %}

<title>Simulator</title>
<h1>Simulators</h1>
<hr>

<h3>1000 flats, 3 employees, 6 services companies</h3>

<form action="/createurgentcase" method="POST">
    <input type="submit" value="URGENT" class="btn btn-danger btn-sm">
</form> <br>
<form action="/createmaintenancecase" method="POST">
    <input type="submit" value="MAINTENANCE" class="btn btn-warning btn-sm">
</form> <br>
<form action="/createcheckupcase" method="POST">
    <input type="submit" value="CHECK" class="btn btn-secondary btn-sm">
</form>
<br>
<hr>
<form action="/automatic">
    <input type="submit" value="AUTOMATIC SIMULATOR">
</form>

{% endblock %}
